:root {
    --hero-background: #1F2937;
    --footer-background: #1F2937;
    --hero-main-text: #F9FAF8;
    --hero-secondary-text: #E5E7EB;
    --header-link-text: #E5E7EB;
    --header-logo-text: #F9FAF8;
    --button: #3882F6;
    --cta-background: #3882F6;
    --information-header-text: #1F2937;
    --quote-section-background: #E5E7EB;
    --quote-text: 1F2937;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

/* Header -- Logo & Navbar Styles */
header {
    height: 64px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--hero-background);
}

#logo {
    color: var(--header-logo-text);
    font-size: 24px;
}

#navbar ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
    color: var(--header-link-text);
    font-size: 18px;
}

a {
    text-decoration: none;
}

/* Main -- hero-container styles */
#hero-container {
    height: 300px;
    background-color: var(--hero-background);
    display: flex;
    align-items: start;
    justify-content: center;
}

#hero-text-container {
    margin-left: 285px;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#sign-up-button {
    background-color: var(--button);
    color: var(--header-logo-text);
    border-radius: 5px;
    width: 80px;
    height: 20px;
    border-style: none;
    margin-top: 10px;
}

#hero-image-container {
    width: 50%;
    height: 100%;
    margin-right: 285px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#hero-image-placeholder-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#hero-image-container-background {
    background-color: gray;
    height: 200px;
    width: 400px;
    margin-left: 360px;
}

#hero-main-text {
    color: var(--hero-main-text);
}

#hero-secondary-text {
    color: var(--hero-secondary-text);
}

#hero-image-placeholder-text {
    color: var(--hero-secondary-text);
}

/* Main -- information-container styles*/
#random-information {
    font-size: 36px;
    font-weight: 900;
    color: var(--information-header-text);
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
}

.info-box {
    width: 200px;
    height: 200px;
    border: 2px solid var(--button);
    border-radius: 20%;
}

#information-container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.container-info {
    max-width: 200px;
}

.info-text {
    text-align: center;
    margin-bottom: 32px;
}


/* Main -- quote-container styles */
#quote-container {
    display: flex;
    flex-direction: column;
    background-color: var(--quote-section-background);
    color: var(--quote-text);
}

#quote {
    max-width: 420px;
    display: flex;
    text-align: left;
    font-style: italic;
    margin: 12px auto 12px auto;
}

#quote-author {
    align-self: flex-end;
    font-weight: bold;
    margin: 12px auto 12px 50%;
}

/* Main -- cta-container styles */


/* Footer styles */