:root {
    --hero-background: #1F2937;
    --footer-background: #1F2937;
    --hero-main-text: #F9FAF8;
    --hero-secondary-text: #E5E7EB;
    --header-link-text: #E5E7EB;
    --header-logo-text: #F9FAF8;
    --button: #3882F6;
    --cta-background: #3882F6;
    --information-header-text: #1F2937;
    --quote-section-background: #E5E7EB;
    --quote-text: 1F2937;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

/* Header -- Logo & Navbar Styles */
header {
    height: 64px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--hero-background);

}

#logo {
    color: var(--header-logo-text);
    font-size: 24px;
}

#navbar ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
    color: var(--header-link-text);
    font-size: 18px;
}

a {
    text-decoration: none;
}

/* Main -- hero-container styles */
#hero-container {
    height: 192px;
    background-color: var(--hero-background);
    color: var(--hero);
    display: flex;
}

#hero-text-container {
display: flex;
flex-direction: column;
justify-content: center;
border: 5px solid brown;
}

#hero-container > button {
    
}

#hero-image-container {
    border: 5px solid brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-main-text {
    color: var(--hero-main-text);
}

#hero-secondary-text {
    color: var(--hero-secondary-text);
}

#hero-image-placeholder-text {
    color: var(--hero-secondary-text);
}

/* Main -- information-container styles*/


/* Main -- quote-container styles */


/* Main -- cta-container styles */


/* Footer styles */