:root {
    --hero-background: #1F2937;
    --footer-background: #1F2937;
    --hero-main-text: #F9FAF8;
    --hero-secondary-text: #E5E7EB;
    --header-link-text: #E5E7EB;
    --header-logo-text: #F9FAF8;
    --button: #3882F6;
    --cta-background: #3882F6;
    --information-header-text: #1F2937;
    --quote-section-background: #E5E7EB;
    --quote-text: 1F2937;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navbar ul {
    display: flex;
    gap: 24px;
}